.header {
    background-color: black;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.main-menu {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 40px;
}

.main-menu a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

main {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 40px;
    min-height: calc(100vh - 70px);
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

main p {
    text-align: justify;
}

html {
    height: 100%;
  }

.footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    margin-top: 2rem;
    height: 50px;

}


.pictures img {
    width: 24%; 
    border-radius: 10px;
}

.button {
    color: gainsboro;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {

    color:pink;
}